*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-weight: 800;
    font-size: 30px;
    margin: 10px;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 30px;
    align-items: center;
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.2);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.nav__button{
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn1{
    background-color: greenyellow;
}

.btn2{
    background-color: rgb(140, 163, 221);
}

@media screen and (max-width: 400px)
{
    .nav__button{
        padding: 8px 12px;
    }
}